@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<email addresss="sdfg.sdfg.df" domain="gemail.com" name="subin"></email>


<list>option1,option2,option3</list>

<alert alert-type="danger" info-link="http://example.com" heading="This is good!">
    This is sooper    
</alert>